option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

packages:
  yum:
    python3: []
    python3-pip: []
    git: []

container_commands:
  01_upgrade_pip:
    command: "pip3 install --upgrade pip"
  02_install_requirements:
    command: "pip3 install pandas numpy seaborn matplotlib scikit-learn catboost xgboost dill Flask"
